#planet1 {
    top: 70vh;
    left: 25vw;
}

#planet2 {
    top: 57vh;
    left: 23vw;
}

#planet3 {
    top: 40vh;
    left: 23vw;
}

#planet4 {
    top: 25vh;
    left: 25vw;
}

#planet5 {
    top: 10vh;
    left: 28vw;
}

#planet6 {
    top: 1rem;
    left: 35vw;
}

#planet7 {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#planet8 {
    top: 1rem;
    right: 35vw;
}

#planet9 {
    top: 10vh;
    right: 28vw;
}

#planet10 {
    top: 25vh;
    right: 25vw;
}

#planet11 {
    top: 40vh;
    right: 23vw;
}

#planet12 {
    top: 57vh;
    right:23vw}

#planet13 {
    top: 70vh;
    right: 25vw;
}