@font-face {
  font-family: 'VAGroundedstd-light';
  src: url("./fonts/VAGRoundedStd-Light.otf");
  font-family: 'VAGroundedstd-bold';
  src: url("./fonts/VAGRoundedStd-Bold.otf");
}

body {
  font-family: 'VAGroundedstd-light', sans-serif;
  color: white;
    background-color: #000032;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VAGroundedstd-bold', sans-serif;
}

div img {
  max-width: 100%;
}

#app {
  margin: 0 auto;
}


.onboarding-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 20px;
}


.PhoneScreen {
  color: black;
}


.pill {
  border: 1px solid white;
  margin: 3px;
  padding: 2px 10px;
  border-radius: 50px;
  background-color: rgb(241, 80, 107);
}

.button {
  background-color: rgba(193, 184, 184, 0.3);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: .3rem;
  height: 3vh;
  width: fit-content;
  width: 70px;
}

.button-icon {
  max-width: 25 px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.domains {
  position: absolute;
}


.domain {
  border: 2px solid #44A69D;
  background: linear-gradient(181deg, #44A69D 1.69%, rgba(68, 166, 157, 0.30) 99.29%);
  backdrop-filter:  blur(12.809999465942383px);;
  aspect-ratio: 1/1;
  height: 100px;
  display: block;
  border-radius: 50%;
}



.teaser-abstract {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 30px;
  background: linear-gradient(0deg, #494781 0%, rgba(73, 71, 129, 0.00) 94.23%);

}

.full-abstract {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 30px;
  background: linear-gradient(180deg, #494781 0%, rgba(73, 71, 129, 0.00) 84.62%);



}


.button-icon img {
  width: 100%;
}

#installation {
  width: 90vh;
  background-color: #000032;
  height: 90vh;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: 1px solid white;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
