@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

body {
  font-family: 'Open Sans', 'Nunito', sans-serif;
  color: #F3E0FF;
  background-color: #000032;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

div img {
  max-width: 100%;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1rem;
}



.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


#checkIcon {
  background-color: #488948;
  border: 5px solid #488948;
}

#backIcon {
  background-color: #9E4343;
  border: 5px solid #9E4343;
}

.mainTitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 5.5em;
    margin-top: 100px;
    justify-self: flex-start;
    padding-bottom: auto;
    text-shadow: 0 16.769px 66.866px #9312FD;

}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
@keyframes l9 {to{transform: rotate(1turn)}}

#app {
  margin: 0 auto;
}


.onboarding-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 20px;
}


.PhoneScreen {
  color: black;
}

.screen1, .screen2, .screen3 {  
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  justify-content: flex-start;
  gap: 0;
}

.screen1 {
  background-image: url(./assets/screen1Bg.png);
}

.screen2 {
  background-image: url(./assets/screen2Bg.png);
  justify-content: center;

}

.screen3 {
  background-image: url(./assets/screen3Bg.png);
}

.screen2Title {
  font-family:'nunito', sans-serif;
  font-size: 3.5rem;
}

.screen1 .button {
  margin-top: 14px;
 
}

.screen2Logo {
  width: 50%;
}

.bottomLogo {
  width: 25%;
  margin-top: auto;
  margin-bottom: 7rem;
  justify-self: flex-end;
}

.circleOnboarding {
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.centerTitle {
  text-align: center;
}


.onboardingInstruction {
  background: linear-gradient(180deg, rgba(51, 46, 132, 0.70) 0%, rgba(93, 122, 218, 0.10) 100%);
  padding: 1rem;
  border-radius: 15px;
  max-width: 45vh;


}


.installation-ProjectTitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    max-width: 30rem;
    text-align: center;
    margin: 9rem auto .5rem auto;
}

.project-detail {
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  height: 100%;
  background-image:url(./assets/fadingEllipse.png);
  border-radius: 50%;
  overflow: hidden;
}

.project-info {  display: flex;
  padding-top: 100px;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

#domain0 {
  top: 10%;
  left: 20%;
  position: absolute;
}

#domain1 {
  top: 20%;
  left: 10%;
  position: absolute
}
#domain2 {
  top: 0%;
  left: 20px;
  position: absolute;
}


.cluster {
  aspect-ratio: 1/1 ;
  max-width: 100px;
  position: absolute;
  background-image: url(./assets/clusterEllipse.png) ;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 65%;
  left: 78%;
  padding: 20px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  
}

.pill {
  border: 1px solid white;
  margin: 3px;
  padding: 2px 10px;
  border-radius: 50px;
  background-color: rgb(241, 80, 107);
  white-space: nowrap;
}


.CTA-intro {
  text-align: center;
  padding:1rem 0 .3rem 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;

}

.button-icon {
  aspect-ratio: 1/1;
  align-items: center;
  width: 2rem;
  padding: .3rem;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  z-index: 500;
}

.button-text {
  background-color: rgba(193, 184, 184, 0.3);
  padding: 8px 17px;
  margin-left: -12px;
  border-radius: 10px;
  z-index: 100;

}

.domains {
  position: absolute;
}


.domain {
  aspect-ratio: 1/1;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}



.domain.gezond, .phonedomain.gezond {
    border: 2px solid  #E488AC;
  background: linear-gradient(181deg, #E488AC 1.69%, rgba(228, 136, 172, 0.30) 99.29%);
  backdrop-filter:  blur(12.809999465942383px);

}

.domain.leren, .phonedomain.leren {
    border: 2px solid  #F8E371;
  background: linear-gradient(181deg, #F8E371 1.69%, rgba(248, 227, 113, 0.30) 99.29%);
  backdrop-filter:  blur(12.809999465942383px);
}

.domain.digitaal, .phonedomain.digitaal {
  border: 2px solid #44A69D;
  background: linear-gradient(181deg, #44A69D 1.69%, rgba(68, 166, 157, 0.30) 99.29%);
  backdrop-filter:  blur(12.809999465942383px);
}

.domain.ecologisch, .phonedomain.ecologisch
 {
  border: 2px solid #4ea644;
  background: linear-gradient(181deg, #4ea644 1.69%, rgba(68, 166, 68, 0.30) 99.29%);
  backdrop-filter:  blur(12.809999465942383px);
}

.domain.sociaal, .phonedomain.sociaal {
  
  border: 2px solid #806FD0;
  background: linear-gradient(180deg, #806FD0 0%, rgba(128, 111, 208, 0.50) 100%);
  backdrop-filter:  blur(12.809999465942383px);
}


.cardPill {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 0;
  line-height: 1;
  overflow: hidden;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  margin-right: .5rem;
}

.keyword-pill-card {
  color: white;
  background: transparent;
  padding: 4px 8px;
  border-radius: 30px;
  font-size: 0.875rem;
  margin: 0.25rem;
  display: inline-block;
  border:2px solid white;
  font-weight: bold;
}

.keyword-wrapper-card {
  overflow: hidden;
  max-height: 2.5rem; 
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}



.teaser-abstract {
  width: 50%;
  font-weight: 200;
  margin: 2% auto 5% auto;
  padding: 1rem 2rem;
  border: 1px solid white;
  background:linear-gradient(0deg, #494781 0%, rgba(73, 71, 129, 0.00) 94.23%);
  border-radius: 20px;
  max-width: 50vh;

}

.full-abstract {
  width: 70%;
  margin: 0 auto;
  padding: 1em 2.3rem;
  font-size: .875rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 30px;
  text-align: left;
  background: linear-gradient(180deg, #494781 0%, rgba(73, 71, 129, 0.00) 84.62%);
}

.abstractText p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}




.saved-empty {

  text-align: center;
}

.saved-empty p, .saved-projects p {
  margin-bottom:1.5rem ;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 200;
}

.saved-projects {
  text-align: center;

}

.saved-planet {
  padding:2rem 1rem 6rem 1rem;
}

#installation {
  width: 90vh;
  background-color: #000032;
  height: 90vh;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: 1px solid white;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
