@font-face {
  font-family: 'VAGroundedstd-light';
  src: url("./fonts/VAGRoundedStd-Light.otf");
  font-family: 'VAGroundedstd-bold';
  src: url("./fonts/VAGRoundedStd-Bold.otf");
}

body {
  font-family: 'VAGroundedstd-light', sans-serif;
  color: white;
    background-color: #000032;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VAGroundedstd-bold', sans-serif;
}

#app {
  margin: 0 auto;
}

.PhoneScreen {
  color: black;
}


.pill {
  border: 1px solid white;
  margin: 3px;
  padding: 2px 10px;
  border-radius: 50px;
  background-color: rgb(241, 80, 107);
}

.button {
  background-color: rgba(193, 184, 184, 0.3);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
  height: 3vh;
  width: fit-content;
}

.button-icon {
  max-width: 30px;
  padding-bottom: 1rem;

}

.button-icon img {
  width: 100%;
}

#installation {
  width: 90vh;
  background-color: #000032;
  height: 90vh;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: 1px solid white;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
