.map-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.map-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.1s ease-out;
}

.project-wrapper {
    cursor: pointer;
}

.project-wrapper.selected div {
    transform: scale(1.3) !important;
    border: 3px solid #ffff00 !important;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    z-index: 10;
}
