@font-face {
  font-family: 'VAGroundedstd-light';
  src: url("../../fonts/VAGRoundedStd-Light.otf");
}

@font-face {
  font-family: 'VAGroundedstd-bold';
  src: url("../../fonts/VAGRoundedStd-Bold.otf");
}




.mainPhoneTitle {
    font-family: 'VAGroundedstd-bold', sans-serif;
    font-size: 40px;
   
}

body {
    font-family: 'VAGroundedstd-light', sans-serif;
    display: block ;

}


.phoneScreen {
    color: black;
    background-color: white;
    min-height: 100vh;
    font-family: 'VAGroundedstd-light', sans-serif;
    display: block;
    padding-top: auto;
}


.phoneProjectHeader {
    background: linear-gradient(180deg, #000032 0%, #891EE8 100%);
    margin-top: 0;
    color: white;
    padding-top: 2rem;
}

.phoneProjectHeaderContent {
    background: linear-gradient(0deg, rgba(73, 71, 129, 0.00) 0%, #6462A7 100%);
    width: 85%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
}



.phoneNavButton {
    display: block;
    color: black;
    text-decoration: none;

}

.phoneNavButton:visited {
    color: black;
}


nav ul {
    display: flex;
    border: 2px solid red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;

}

nav ul li {
    list-style-type: none;
    margin: 10px 0;
    border: 2px solid blue;
    text-align: center;
}