@font-face {
  font-family: 'VAGroundedstd-light';
  src: url("../../fonts/VAGRoundedStd-Light.otf");
}

@font-face {
  font-family: 'VAGroundedstd-bold';
  src: url("../../fonts/VAGRoundedStd-Bold.otf");
}




.mainPhoneTitle {
    font-family: 'VAGroundedstd-bold', sans-serif;
    font-size: 40px;
   
}

body {
    font-family: 'VAGroundedstd-light', sans-serif;
    display: block ;

}




.phoneScreen {
    color: black;
    background-color: #EDF7FA;
    min-height: 100vh;
    font-family: 'VAGroundedstd-light', sans-serif;
    display: block;
    padding-top: auto;
}


.phoneProjectHeader {
    background: linear-gradient(180deg, #000032 0%, #891EE8 100%);
    margin-top: 0;
    color: white;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.phoneTitleWrapper {
    display: flex;   
    justify-content: space-between; 
    align-items: flex-start;
}

.phonedomain {
    margin-right: 1rem;
    background-color: aqua;
    padding: 4px 8px;
    border-radius: 30px;
    color: black;
}

.phoneDomainWrapper {
    display: flex;
    margin: 1rem auto;
}

.teaser {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2rem;
}

.projectCTA {
    border-radius: 34.453px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 1.392px 3.48px 0 rgba(22, 10, 58, 0.50);
    color: white;
    padding: 1.3rem 1.5rem;
    display: block;
    text-align: center;
    max-width: 25vh;
    margin: 0 auto;
}


.projectImage {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;  
    margin-top: -4rem;
    position: relative;
    z-index: 5;
}


.imgOverlayClouds {
    margin-top: -2rem;
    position: relative;
    z-index: 10;
}

.projectCTA a:visited {
    color: white;
}

.phoneProjectHeaderContent {
    background: linear-gradient(0deg, rgba(73, 71, 129, 0.00) 0%, #6462A7 100%);
    width: 85%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
}



.phoneNavButton {
    display: block;
    color: black;
    text-decoration: none;

}

.phoneNavButton:visited {
    color: black;
}

.phoneProjectAbstract {
    margin-top: -3rem;
    z-index: 15;
    position: relative;
}


nav ul {
    display: flex;
    border: 2px solid red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 100;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;

}

nav ul li {
    list-style-type: none;
    margin: 10px 0;
    border: 2px solid blue;
    text-align: center;
}