

body {

    background-color: white;
    color: black ;
    display: block ;

}




.phoneNavButton {
    display: block;
    color: black;
    text-decoration: none;

}

.phoneNavButton:visited {
    color: black;
}


nav ul {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: blue;

}

nav ul li {
    list-style-type: none;
    margin: 10px 0;
}