

body {

    background-color: white;
    color: black ;
    display: block ;

}

.phoneScreen {
    color: black;
    background-color: white;
    display: block;
}



.phoneNavButton {
    display: block;
    color: black;
    text-decoration: none;

}

.phoneNavButton:visited {
    color: black;
}


nav ul {
    display: flex;
    border: 2px solid red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;

}

nav ul li {
    list-style-type: none;
    margin: 10px 0;
    border: 2px solid blue;
    text-align: center;
}