@font-face {
  font-family: 'VAGroundedstd-light';
  src: url("../../fonts/VAGRoundedStd-Light.otf");
}

@font-face {
  font-family: 'VAGroundedstd-bold';
  src: url("../../fonts/VAGRoundedStd-Bold.otf");
}




.mainPhoneTitle {
    font-family: 'VAGroundedstd-bold', sans-serif;
    font-size: 40px;
   
}

body {
    font-family: 'open-sans', sans-serif;
    display: block ;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'VAGroundedstd-bold', sans-serif;
}




.phoneScreen {
    color: black;
    background-color: #EDF7FA;
    min-height: 100vh;
    font-family: 'VAGroundedstd-light', sans-serif;
    display: block;
    padding-top: auto;
}


.phoneProjectHeader {
    background: linear-gradient(180deg, #000032 0%, #891EE8 100%);
    margin-top: 0;
    color: white;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.phoneTitleWrapper {
    display: flex;   
    justify-content: space-between; 
    align-items: flex-start;
}

.phonedomain {
    margin-right: 1rem;
    background-color: aqua;
    padding: 4px 8px;
    border-radius: 30px;
    color: black;
}

.phoneDomainWrapper {
    display: flex;
    margin:  auto;
}

.teaser {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2rem;
}




.abstractTitle {
    font-size: 1.2rem;
    font-family: 'VAGroundedstd-bold', sans-serif;
    margin-bottom: 1rem;
}

.abstractText {
    font-size: 1.2rem;
    
}

.projectCTA {
    border-radius: 34.453px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 1.392px 3.48px 0 rgba(22, 10, 58, 0.50);
    color: white;
    padding: 1.3rem 1.5rem;
    display: block;
    text-align: center;
    max-width: 25vh;
    margin: 0 auto;
}


.projectImage {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;  
    margin-top: -4rem;
    position: relative;
    z-index: 5;
}


.imgOverlayClouds {
    margin-top: -2rem;
    position: relative;
    z-index: 10;
}

.projectCTA a:visited {
    color: white;
}

.phoneProjectHeaderContent {
    background: linear-gradient(0deg, rgba(73, 71, 129, 0.00) 0%, #6462A7 100%);
    width: 85%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
}



.phoneNavButton {
    display: block;
    color: white;
    text-decoration: none;
}

.phoneNavButton:visited {
    color: white;
}

.phoneNavButton.activeNavButton {
    color: #E91E63 !important;
}

.phoneProjectAbstract {
    margin: -3rem auto 0 auto;
    width: 100;
    z-index: 15;
    position: relative;
    padding:1.5rem 2rem;
    background-color: #EDF7FA;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.keyword-pill-white {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0.2rem;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

strong {
    color: #494781;
}


.contactHeader {
    background: linear-gradient(180deg, #311E60 0%, #050535 100%);
    margin-top: 0;
    color: white;
    padding: 2rem 1rem 0rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
  
}

.nav-icon {
    width: 3rem;
}

.contactForm {
    background: linear-gradient(0deg, #494781 0%, rgba(73, 71, 129, 0.00) 100%);

    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 30px;
}

.contactPage {
    padding-bottom: 5rem;
}


.contactForm input, textarea {
    width: 90%;
    background-color: transparent;
    margin-bottom: 1rem;
    border-radius: 10px ;
    margin-top: .7rem;
    
}


.phonefavourites {
    color: black;
    background: linear-gradient(0deg, rgba(73, 71, 129, 0.00) 0%, #6462A7 100%);

    display: block;
}

label {
    margin-bottom: 2rem;
    padding-bottom: .4rem;
    line-height: 2rem;
}



nav ul {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 100;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #332E84;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 4rem;

}

nav a {
    color: white;
}

nav ul li {
    list-style-type: none;
    margin: 10px 0;
    text-align: center;
}

footer {
    background: linear-gradient(180deg, #000032 0%, #615FA4 100%);
    color: white;
    padding: 5rem 1rem;
    font-size: 2rem;
}

footer ul li {
    font-size: 1rem;
    line-height: 1.rem;
    
}

footer ul li a, a:visited {
    color: white;
    text-decoration: none;
}


footer section {
    border-bottom: 1px solid white;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;

}

footer h3 {
    font-family: 'VAGroundedstd-bold', sans-serif;
    font-size:  1.4rem;
    line-height: 1.6rem;
}